= form_with(model: person, local: true) do |form|
  - if person.errors.any?
    .alert.alert-warning.alert-dismissible.fade.show[role="alert"]
      = pluralize(person.errors.count, "erros")
      |  impedindo que o registro seja salvo
      hr/
      ul
        - person.errors.full_messages.each do |message|
          li
            = message
  .form-group
    = form.label :email
    = form.text_field :email, class: 'form-control'
  .form-group
    = form.label :name
    = form.text_field :name, class: 'form-control'
  = button_tag 'Salvar', type: 'submit', class: 'btn btn-primary'
