.row
  .col-xl-12.col-sm-12.mb-4
    .card.shadow.mb-4
      .card-header.py-3
        h6.m-0.font-weight-bold.text-primary
          | Editar membro
      .card-body
        = render 'form', person: @person
      .card-footer
        = link_to 'Voltar', people_path, class: 'btn btn-primary mr-2'
        = link_to 'Mostrar', @person, class: 'btn btn-primary mr-2'
