.d-sm-flex.align-items-center.justify-content-between.mb-4
  h1.h3.mb-0.text-gray-800
    | Membros
.row
  .col-xl-12.col-sm-12.mb-4
    .card.shadow.mb-4
      .card-body
        .table-responsive
          table.table.table-striped.table-sm
            thead
              tr
                th Nome
                th Email
                th #
            tbody
              - @people.each do |person|
                tr
                  td
                    = person.name
                  td
                    = person.email
                  td
                    = link_to 'Exibir', person, class: 'btn btn-primary btn-sm mr-2'
                    = link_to 'Editar', edit_person_path(person), class: 'btn btn-primary btn-sm mr-2'
                    = link_to 'Deletar', person, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary btn-sm mr-2'
      .card-footer
        = link_to 'Novo membro', new_person_path
