.d-sm-flex.align-items-center.justify-content-between.mb-4
  h1.h3.mb-0.text-gray-800
    | Membros
.row
  .col-xl-12.col-sm-12.mb-4
    .card.shadow.mb-4
      .card-header.py-3
        h6.m-0.font-weight-bold.text-primary
          | Visualizando membro
      .card-body
        p#notice
          = notice
        hr/
        p
          strong
            | Nome: 
          = @person.name
        hr/  
        p
          strong
            | Email: 
          = @person.email
        hr/
      .card-footer
        = link_to 'Voltar', people_path, class: 'btn btn-primary mr-2'
        = link_to 'Editar', edit_person_path(@person), class: 'btn btn-primary mr-2'
