- if resource.errors.any?
  .alert.alert-warning.alert-dismissible.fade.show[role="alert"]
    #error_explanation
      h2
        = I18n.t("errors.messages.not_saved",
          count: resource.errors.count, resource: resource.class.model_name.human.downcase)
      ul
        - resource.errors.full_messages.each do |message|
          li
            = message
