.d-sm-flex.align-items-center.justify-content-between.mb-4
.row
  .col-xl-12.col-sm-12.mb-4
    .card.shadow.mb-4
      .card-header.py-3
        h6.m-0.font-weight-bold.text-primary A pesquisa a seguir já foi respondida por você
      .card-body
       = @survey.question