.d-sm-flex.align-items-center.justify-content-between.mb-4
.row
  .col-xl-12.col-sm-12.mb-4
    .card.shadow.mb-4
      .card-header.py-3
        h6.m-0.font-weight-bold.text-primary Responda a pesquisa a seguir
      .card-body
        = @enforcement.survey.question
        hr/
        = form_with(model: @enforcement, local: true) do |form|
          - if @enforcement.errors.any?
            .alert.alert-warning.alert-dismissible.fade.show[role="alert"]
              = pluralize(@enforcement.errors.count, "erros")
              |  impedindo que o registro seja salvo
              hr/
              ul
                - @enforcement.errors.full_messages.each do |message|
                  li
                    = message
          .form-group
            label[for="question"]
            | Nota
            = form.number_field :grade, class: 'form-control'
          = button_tag 'Salvar', type: 'submit', class: 'btn btn-primary'