.col-lg-12
  .p-5
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .form-group
        = f.label :email
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
      .form-group
        = f.label :password
        = f.password_field :password, autocomplete: "current-password", class: "form-control"
      .form-group
        .custom-control.custom-checkbox.small
          = f.check_box :remember_me, class: "custom-control-input"
          = f.label :remember_me, class: "custom-control-label"
      = f.submit "Log in", class: "btn btn-primary btn-user btn-block"
    hr
    = render "devise/shared/links"
