= form_with(model: survey, local: true, class: "needs-validation") do |form|
  - if survey.errors.any?
      .alert.alert-warning.alert-dismissible.fade.show[role="alert"]
        = pluralize(survey.errors.count, "erros")
        |  impedindo que o registro seja salvo
        hr/
        ul
          - survey.errors.full_messages.each do |message|
            li
              = message
  .form-group
    label[for="question"]
      | Pergunta
    = form.text_area :question, class: 'form-control'
  .form-group
    - if params[:action] == "new"
      select#people-select-new.form-control
      .form-group
        label[for="people"]
          | Pessoas da pesquisa
        = form.select :people, options_from_collection_for_select(survey.people, 'id', 'email') , {}, {class: 'form-control avoid-clicks', multiple: true, readonly: true}
    - else 
      select#people-select.form-control
      .invalid-feedback#select-feedback
      hr/
      .d-flex.justify-content-center
        .spinner-border#people-edit-loading role="status" 
          span.sr-only Loading...
      ul.list-group#people-edit-list
        - survey.people.each do |person|
          li.list-group-item.d-flex.justify-content-between.align-items-center#person-item
            = person.email
            span.badge.badge-primary.badge-pill.clickable.delete-person enforcement_id="#{enforcement_id(@survey, person)}" excluir
  = button_tag 'Salvar', type: 'submit', class: 'btn btn-primary'

