.d-sm-flex.align-items-center.justify-content-between.mb-4
  h1.h3.mb-0.text-gray-800
    | Pesquisas
.row
  .col-xl-12.col-sm-12.mb-4
    .card.shadow.mb-4
      .card-body
        .table-responsive
          table.table.table-striped.table-sm
            thead
              tr
                th Pergunta
                th Nota
                th #
            tbody
              - @surveys.each do |survey|
                tr
                  td
                    = survey.question
                  td
                    = survey_mean(survey.id)
                  td
                    = link_to 'Exibir', survey, class: 'btn btn-primary btn-sm mr-2'
                    - unless survey.closed 
                      = link_to 'Editar', edit_survey_path(survey), class: 'btn btn-primary btn-sm mr-2' 
                      = link_to 'Enviar Emails', send_mail_survey_path(survey), class: 'btn btn-primary btn-sm mr-2', method: :post
                    = link_to 'Deletar', survey, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary btn-sm mr-2'
      .card-footer
        = link_to 'Nova pesquisa', new_survey_path



