.d-sm-flex.align-items-center.justify-content-between.mb-4
  h1.h3.mb-0.text-gray-800
    | Pesquisas
.row
  .col-xl-12.col-sm-12.mb-4
    - if notice
      .card.mb-4.py-3.border-bottom-warning
        .card-body
          = notice
    .card.shadow.mb-4
      .card-header.py-3
        h6.m-0.font-weight-bold.text-primary
          | Visualizando pesquisa
      .card-body
        hr/
        p
          strong
            | Pergunta: 
          = @survey.question
        hr/  
        p
          strong
            | Pessoas na Pesquisa:
          br/ 
          - @people.each do |person|
            = person
            br/
        hr/
        p
          strong
            | Média: 
          = survey_mean(@survey.id)
        hr/
        p
          strong
            | Respostas: 
          = survey_count(@survey.id)
        hr/
        p
          strong
            | Finalizada?: 
          = @survey.closed ? 'Sim' : 'Não'
        hr/
      .card-footer
        = link_to 'Voltar', surveys_path, class: 'btn btn-primary mr-2'
        - unless @survey.closed
          = link_to 'Editar', edit_survey_path(@survey), class: 'btn btn-primary mr-2'
          = link_to 'Enviar Emails', send_mail_survey_path(@survey), class: 'btn btn-primary mr-2', method: :post
