doctype html
html
  head
    title HappyNel
    == csrf_meta_tags
    == csp_meta_tag
    
    == stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    == javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    body.bg-gradient-primary
  .container
    .row.justify-content-center
      .col-xl-10.col-lg-12.col-md-9
        .card.o-hidden.border-0.shadow-lg.my-5
          .card-body.p-0
            .row
              == yield